<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!-- 引入 ECharts 文件 -->
    <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
  </head>
  <body>
    <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
    <div id="main" style="width: 1500px; height: 500px;"></div>
    <div id="main2" style="width: 1500px; height: 500px;"></div>
    <div id="main1" style="width: 1500px; height: 500px;"></div>
    <div id="main3" style="width: 1500px; height: 500px;"></div>
    <input id="xAxis" value="<%= xAxis%>" type="hidden" />
    <input id="series" value="<%= series%>" type="hidden" />
    <script type="text/javascript">
      // 基于准备好的dom，初始化echarts实例
      var myChart = echarts.init(document.getElementById("main"));
      var datas = document.getElementById("xAxis").value;
      var data2 = document.getElementById("series").value;
      var xAxis = datas.split(",");
      var series = data2.split(",");

      function arrTrans(num, arr) {
        const newArr = [];
        while (arr.length > 0) {
          newArr.push(arr.splice(0, num));
        }
        return newArr;
      }
      temp = arrTrans(xAxis.length, series);
      aa = [];
      for (var i = 0; i < temp.length; i++) {
        aa.push({
          data: temp[i],
          type: "line",
          smooth: false,
          large: true,
        });
      }
      bb = [];
      //bb.push(aa[3]);
      //bb.push(aa[10]);
      bb.push(aa[10]);
      bb.push(aa[11]);
      //bb.push(aa[13]);

      option = {
        xAxis: {
          type: "category",
          data: xAxis,
        },
        tooltip: {
          trigger: "axis",
        },
        yAxis: {
          type: "value",
        },
        dataZoom: [
          {
            show: true,
            type: "inside",
            filterMode: "none",
            xAxisIndex: [0],
            startValue: 0,
            endValue: xAxis.length,
          },
          {
            type: "slider",
          },
        ],
        series: bb,
      };
      myChart.setOption(option);

      var option1 = JSON.parse(JSON.stringify(option));
      var bb1 = [];
      bb1.push(aa[13]);
      bb1.push(aa[14]);
      option1.series = bb1;
      var myChart1 = echarts.init(document.getElementById("main1"));
      myChart1.setOption(option1);

      var option2 = JSON.parse(JSON.stringify(option));
      var bb2 = [];
      bb2.push(aa[10]);
      bb2.push(aa[11]);
      bb2.push(aa[15]);
      bb2.push(aa[16]);
      option2.series = bb2;
      var myChart2 = echarts.init(document.getElementById("main2"));
      myChart2.setOption(option2);

      var option2 = JSON.parse(JSON.stringify(option));
      var bb2 = [];
      bb2.push(aa[3]);
      bb2.push(aa[12]);
      option2.series = bb2;
      var myChart2 = echarts.init(document.getElementById("main3"));
      myChart2.setOption(option2);
    </script>
  </body>
</html>
