<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!-- 引入 ECharts 文件 -->
    <script src="echarts.min.js"></script>
    <title><%= title %></title>
    <style type="text/css">
      .picture {
        border: 1pt rgba(251, 255, 0, 0.445) solid;
        width: 1500px;
        height: 500px;
        border-radius: 25px;
      }
      .picture:hover {
        border: 2pt blue solid;
      }
    </style>
  </head>
  <body>
    <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
    <div id="view"></div>
    <input id="xAxis" value="<%= xAxis%>" type="hidden" />
    <input id="series" value="<%= series%>" type="hidden" />
    <script type="text/javascript">
      // 基于准备好的dom，初始化echarts实例
      var datas = document.getElementById("xAxis").value;
      var data2 = document.getElementById("series").value;
      var xAxiso = datas.split(",");
      var series = data2.split(",");

      function arrTrans(num, arr, dcnts) {
        const newArr = [];
        //num = 1995;
        while (arr.length > 0) {
          var tem = arr.splice(0, num);
          newArr.push(tem.splice(0, dcnts));
        }
        return newArr;
      }

      temp = arrTrans(xAxiso.length, series, xAxiso.length - 30);
      xAxis = xAxiso.slice(0, xAxiso.length - 30);
      aa = [];
      for (var i = 0; i < temp.length; i++) {
        aa.push({
          data: temp[i],
          type: "line",
          smooth: true,
          large: true,
          name: String(i),
        });
      }

      option = {
        title: {
          text: "",
        },
        legend: {
          data: [],
        },
        toolbox: {
          feature: {
            dataZoom: {
              yAxisIndex: false,
            },
            saveAsImage: {
              pixelRatio: 2,
            },
          },
        },
        xAxis: {
          type: "category",
          data: xAxis,
        },
        tooltip: {
          trigger: "axis",
        },
        yAxis: {
          type: "value",
        },
        dataZoom: [
          {
            show: true,
            type: "inside",
            filterMode: "none",
            xAxisIndex: [0],
            startValue: 0,
            endValue: xAxis.length,
          },
          {
            type: "slider",
          },
          {
            type: "slider",
            show: true,
            filterMode: "none",
            yAxisIndex: [0],
            left: "5%",
          },
        ],
        series: null,
      };

      function showone(index) {
        var view = document.getElementById("view");
        newpage = document.createElement("div");
        newpage.setAttribute("class", "picture");
        newpic = view.appendChild(newpage);
        var myChart = echarts.init(newpic);
        bb = [];
        for (var i = 0; i < index.length; i++) {
          bb.push(aa[index[i]]);
        }
        option.series = bb;
        option.title.text = index;
        var lenged = [];
        for (var i of index) {
          lenged.push(String(i));
        }
        option.legend.data = lenged;
        myChart.setOption(option);
        return myChart;
      }

      charts = [];
      charts.push(showone([28,15]))
      charts.push(showone([8, 9]))
      charts.push(showone([2, 24, 25]))
      charts.push(showone([22]))
      charts.push(showone([17]))
            //charts.push(showone([18,19]))
      //charts.push(showone([15, 3]))
      //charts.push(showone([17,3]))
      //charts.push(showone([4, 5]))
      charts.push(showone([11,12]))
      charts.push(showone([23]))
      charts.push(showone([2,3]))
      charts.push(showone([15, 3, 14]))
      //charts.push(showone([25]));
      //charts.push(showone([29, 17, 18]));
      //charts.push(showone([13]));
      //charts.push(showone([28, 27, 26, 25]));
      //charts.push(showone([22, 23]));
      //charts.push(showone([19, 20]));
      //charts.push(showone([29, 3, 10]));
      //      charts.push(showone([10, 11, 15, 16]));
      //      charts.push(showone([15, 16]));
      //      charts.push(showone([13, 14]));
      //      charts.push(showone([17, 18]));
      //      charts.push(showone([3, 12, 21]));
      //      charts.push(showone([27, 28]));
      //      charts.push(showone([22, 23]));
      //      charts.push(showone([19, 20]));
      charts.push(showone([0, 1, 26, 27]));
      charts.push(showone([4, 5]))
      charts.push(showone([6, 7]))

      charts.push(showone([28, 21]))
      charts.push(showone([16, 18]))
      //linkage
      //echarts.connect([charts[0], charts[1]]);
      //echarts.connect([charts[2], charts[3]]);
    </script>
  </body>
</html>
